
.motor {
    height: 100%;
    width: 100%;
  
    align-items: center;
    justify-content: center;
}



.round-button {
    display:block;
    width:70px;
    height:70px;
    line-height:70px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5 !important;
    text-align:center;
    text-decoration:none;
    background: #ff4747;
    box-shadow: 0 0 3px gray;
    font-size:14px;
    font-weight:bold;
}
.round-button:hover {
    background-color: crimson;
}