* {
    font-family: sans-serif;
}

.space {
    height: 100%;
}
.rocket {
    height: 50%;
    background: url(/assets/spaceship.svg) no-repeat center;
}

@media all and (max-width: 480px){

    .rocket {
        background-image: url(/assets/sp-xs.png);
    }

    .footer{
        height: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100% !important;
        
    }

    .tresA > img {
        float: right;
        width: 50% !important;
        height: 50% !important;
    }

}



body{
    height: 70%;
    background: url(/assets/spaceship.svg) no-repeat center !important;
}

.rocket path {
    fill: white;
}

.tresA {
    bottom: 0;
    right: 1%;
}

.tresA > img {
    float: right;
    width: 10%;
    height: 10%;
}

.status {
    height: 10%;
    text-align: center;
}

.status > h3 {
    padding-top: 2%;
    text-shadow: 0px 0px 20px #FFF;
    font-size: 24px;
}

.footer{
    height: 10% !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    overflow-x:hidden;
    overflow-y:hidden;
    
    
}


